<section>
    <md-subheader class="md-primary">Clüb Diß</md-subheader>
</section>
<section>
    <md-subheader class="md-primary">Thanks</md-subheader>
    <md-list>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Mopidy</h3>
                <p>An extensible music server written in Python.</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Music Frontend</h3>
                <p>Some swedish guy, Ed and George</p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>DJ Cat</h3>
                <p>DJ Cat</p>
            </div>
        </md-list-item>
    </md-list>
</section>