<div layout="row" layout-align="center center" ng-if="!tracks" layout-padding>
    <md-progress-circular class="md-primary" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="tracks.length == 0" layout-padding>
    <h2 class="md-title">Nothing to see here!</h2>
    <p>Browse the <a class="md-button md-accent" href="#/library">library</a></p>
</div>
<div layout-gt-md="row" layout="column" ng-if="tracks.length > 0">
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="t in tracks track by t.tlid">
            <div class="md-list-item-text" ng-class="{'md-offset': (t.tlid != playing.tlid) }">
                <h3>{{ t.track.name }}</h3>
                <h4>{{ t.track.artists[0].name }}</h4>
                <p ng-if="track.comment">{{ t.track.comment }}</p>
                <p ng-if="!track.comment">{{ t.track.album.name }}</p>
            </div>
            <div>
                <md-icon class="md-fab" aria-label="Upvote" ng-click="upvote(t)">trending_up</md-icon>
            </div>
            <div>
                <md-icon class="md-fab" aria-label="Downvote" ng-click="veto(t)">trending_down</md-icon>
            </div>
        </md-list-item>
    </md-list>
</div>
